nav {
  width: 100%;
  /* background-color: #131315; */
  height: 93px;
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.25);

  transition:
    padding 0.3s ease,
    background 0.3s ease,
    box-shadow 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 30%;
}

.logo img {
  width: 60%;
  height: auto;
}

.nav-links {
  width: 70%;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nav-links a:hover {
  color: #bec6e0;
}

.nav-links a.active {
  color: #0094dd;
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}
