footer {
  width: 100%;
  background: #0e0e10;
  padding: 20px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footerContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.footerTop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: top;
  flex-direction: row;
  padding-right: 20px;
}

.footerInfo {
  width: 30%;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding-left: 20px;
  gap: 20px;
}

.footerInfoTitle img {
  width: 60%;
  height: auto;
}

.footerInfoTitle h1 {
  color: #bec6e0;
}

.footerInfoTxt p {
  max-width: 100%;
}

.footerInfoIcons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.footerInfoIcons img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}

.footerLinks {
  width: 70%;
  display: flex;
  justify-content: end;
  align-items: start;
  flex-direction: row;
  gap: 20px;
}

.footerLinksLegal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footerLinksLegal h4 {
  margin-bottom: 16px;
}

footer hr {
  width: 100%;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.footerBot {
  padding-bottom: 20px;
}

.footerBot a:hover {
  color: #bec6e0;
  text-decoration: underline;
}
